<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://fonts.googleapis.com/css?family=EB Garamond' rel='stylesheet'>
	<link rel="stylesheet" type="text/html" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/html" href="/assets/css/style.css">
	<title>{{page.title}}</title>
</head>

<body>
	<div id="container">
		<div id="navWrap">
			<div id="nav">
				<div class="linksWrap">
					<a target="_blank" href="https://github.com/getinerler/" class="fa fa-github"></a>
					<a target="_blank" href="https://medium.com/@getinerler">
						<img src="/assets/images/medium.svg">
					</a>
				</div>
				<div class="profilePhotoWrap">
					<a href="/"><img id="profilePhoto" src="/assets/images/guven.jpeg"></a>
				</div>
				<div class="nameWrap">
					<a href="/">
						<h3 style="text-align: center;">Güven Çetinerler</h3>
					</a>
				</div>
				<h6 style="text-align: center;">
					<i class="fa fa-map-marker"></i>&nbsp;&nbsp;<span>
						Istanbul, Turkey
					</span>
				</h6>
				<ul class="navItems">
					{% for item in site.data.nav.list %}
					{% if page.url == item.href %}
					<li><a class="selected-root" href="#">{{item.name}}</a></li>
					{% else %}
					<li><a class="root" href="{{item.href}}">{{item.name}}</a></li>
					{% endif %}
					{% endfor %}
				</ul>
			</div>
		</div>
		<div id="contentWrap">
			<div id="content">
				{{content}}
			</div>
		</div>
		<div id="languages">
			<span><a href="/tr"><img src="/assets/images/flags/turkish-bw.png" title="Turkish"></a></span>
			<span><a><img src="/assets/images/flags/english.png" title="English"></a></span>
		</div>
	</div>
</body>

</html>